# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/

# Environments & tooling
.venv/
venv/
ENV/
env/
.env
.env.*
.python-version
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Flask/DB
instance/
*.db
*.sqlite
*.sqlite3

# Docker (optional)
*.log
